body {
    margin: 0;
    display: flex;
    justify-content: center;
}

div {
    display: inline-block;
}

main {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
}

article {
    background-color: gray;
    width: 100px;
    height: 200px;
    margin: 10px;
}
